.btn-blue {
  display: inline-block;
  padding: 14px 32px;
  border-radius: 50px;
  background-color: #4f46e5;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 10px 25px rgba(79,70,229,0.4);
}
.btn-blue:hover {
  background-color: #4338ca;
}
